{% include "recipes/partials/head.html" %}

<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}

    <main class="main-content-container">
        <div class="main-content .main-content container">
            <div class="recipe recipe-list-item">
                <img src="https://www.skymsen.com/uploads/blog/como-fazer-hamburguer-recheado-passo-a-passo-para-surpreender-os-clientes.jpg" alt="Temporário">
            </div>
        </div>
    </main>
</body>

</html>